body {
    background-color: #BFD0FC;
    font-family: 'Space Mono', monospace;
    color: #1B1C21;
}

/* EXPERIMENT - Serving a Webfont */
@font-face {
    font-family: 'NaN Jaune';
    src: url('./fonts/NaNJaune-Midi-Var.woff2');
}

/* styling for scoreboard, not sure why it isn't working */
.scoreboard {
    font-size: 1rem;
    position: fixed;
    justify-content: right;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.score {
    margin-bottom: 5px;
}

/* Max-Width Container */
.container {
    max-width: 1600px;
    margin: 0 auto;
}

.registration-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-container h1 {
    font-size: 3rem;
    text-align: center;
}

.registration-container p {
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
}

button {
    background-color: #1B1C21;
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
    color: white;
    border-radius: 18px;
    /* rounded edges*/
    border: none;
    padding: 9px 18px;
    /* button pading */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    /* smooth transition for color change */
}

button:hover {
    background-color: #588157;
    color: white;
}


/* QUIZ */

/* Styling Question */
#quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
}

.question {
    text-align: center;
    font-family: 'NaN Jaune', 'Space Mono', monospace;
    font-size: 3rem;
    width: 80%;
    font-weight: 300;
}

/* Styling Option Section */
.options {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /* justify-content: space-evenly; */
    align-items: center;
    /* width: 100%; */
    margin-top: 1rem;

}

/* Styling Option Buttons */
.option {
    width: 200px;
    height: 200px;
    background-color: #DBE4FB;
    background-size: cover;
    border: 1px solid #1B1C21;
    border-radius: 0.5rem;
    /* display: flex;
    flex-direction: column; */
}

.option:hover {
    cursor: pointer;
    transition: 0.2s;
    box-shadow: rgba(27, 28, 33, 0.25) 0px 13px 27px -5px, rgba(27, 28, 33, 0.3) 0px 8px 16px -8px;
}

.selected {
    background-color: #FBEBDD;
    border: 3px solid #1b1c21;
}

.correct {
    background-color: #DBE4FB;
    border: 3px solid #6CDA7E;
}

.incorrect {
    background-color: #DBE4FB;
    border: 3px solid #FF525C;
}

/* Styling Option Content */
.option img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;

}

.option p {
    position: relative;
    margin-top: -30px;
    margin-left: 8px;
    background-color: #dbe4fb;
    border-radius: 8px;
}

/* Overlay Menu */
/* BG */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 0;
    width: 100%;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* FORMS */

.field {
    font-family: 'Space Mono', monospace;
    background-color: #DBE4FB;
    font-size: 1rem;
    /* width: 200px; */
    padding: 8px;
    border: 1px solid #1B1C21;
    border-radius: 15px;
}

/* Make the Submit Form Stack but left-aligned */
.form-stack {
    display: flex;
    flex-direction: column;
}

/* Group labels and fields, add spacing between pairs */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

/* Success Message */
.success {
    background-color: #1B1C21;
    color: #DBE4FB;
    font-size: 1rem !important;
    width: auto !important;
    padding: 0.25rem;
}