body {
    background-color: #BFD0FC;
    font-family: 'Space Mono', monospace;
    color: #1B1C21;
}

/* EXPERIMENT - Serving a Webfont */
@font-face {
    font-family: 'NaN Jaune';
    src: url('./fonts/NaNJaune-Midi-Var.woff2');
}

h1 {
    font-family: 'NaN Jaune', 'Space Mono', monospace;
}

#scoreboard {
    color: #1B1C21;
    font-size: 1.1rem;
    position: fixed;
    justify-content: right;
    background-color: #ffffff80;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 10px;
}

.score {
    margin-bottom: 5px;
}

/* Max-Width Container */
.container {
    max-width: 1600px;
    margin: 0 auto;
}

.registration-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-container h1 {
    font-size: 3rem;
    text-align: center;
}

.registration-container p {
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
}

.about-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container h1 {
    font-size: 3rem;
    text-align: center;
}

.about-container p {
    font-size: 1.2rem;
    width: 55%;
    text-align: center;
}

button {
    color: white;
    background-color: #1B1C21;
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
    border-radius: 18px;
    border: none;
    padding: 9px 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    color: white;
    background-color: #588157;
    cursor: pointer;
}

.button-secondary {
    background-color: #BFD0FC;
    color: #1B1C21;
    border: 1px solid #1B1C21;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button-secondary:hover {
    color: white;
    background-color: #1B1C21;
    cursor: pointer;
}

/* Horizontal Button Groups  */
.button-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

/* QUIZ */

/* Styling Question */
#quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
}

.progress {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
}

#results {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    /* margin: 30px; */
}

.question {
    text-align: center;
    font-family: 'NaN Jaune', 'Space Mono', monospace;
    font-size: 3rem;
    width: 80%;
    font-weight: 300;
}

/* Styling Option Section */
.options {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /* justify-content: space-evenly; */
    align-items: center;
    max-width: 95%;
    margin-top: 1rem;

}

/* Styling Option Buttons */
.option {
    width: 14vw;
    height: 14vw;
    background-color: #DBE4FB;
    background-size: cover;
    border: 1px solid #1B1C21;
    border-radius: 0.5rem;
    /* display: flex;
    flex-direction: column; */
}

.option:hover {
    cursor: pointer;
    transition: 0.2s;
    box-shadow: rgba(27, 28, 33, 0.25) 0px 13px 27px -5px, rgba(27, 28, 33, 0.3) 0px 8px 16px -8px;
}

.selected {
    background-color: #FBEBDD;
    border: 3px solid #1b1c21;
}

.correct {
    background-color: #DBE4FB;
    border: 4px solid #588157;
}

.incorrect {
    background-color: #DBE4FB;
    border: 4px solid #D2515E;
}

/* Styling Option Content */
.option img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;

}

.option p {
    position: relative;
    margin-top: -30px;
    /* margin-left: 8px; */
    background-color: #dbe4fb;
    border-radius: 8px;
    text-align: center;
}



/* .hidden {
    display: none;
} */

.disabled {
    pointer-events: none;
}

.faded {
    opacity: 0.5;
}

/* Styling End Results */
.results-flex {
    display: flex;
    /* flex-direction: row;
    justify-content: space-evenly; */
    align-items: center;
    margin-bottom: 2rem
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.final-score {
    font-size: 20rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin: 0;
}

.message {
    color: #1B1C21;
    font-family: "NaN Jaune";
    font-size: 3rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/* Overlay Menu */
/* BG */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 0;
    width: 100%;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: #1B1C21;
    /* Dark fallback color */
    background-color: #1b1c21ee;
    /* Dark w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #BFD0FC;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
    background-color: #BFD0FC;
    color: #1B1C21;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 48px;
    right: 48px;
    font-size: 60px;
}

.credits {
    font-size: 1rem;
    color: #BFD0FC;
    margin-top: 1rem;
}

.credits a {
    display: inline-block;
    font-size: 1rem;
    color: #BFD0FC;
    text-decoration: none;
    padding: 2px 4px;
    border-bottom: 1px dotted #BFD0FC;
}

#about-credits a {
    color: #1B1C21;
    text-decoration: none;
    padding: 2px 4px;
    border-bottom: 1px dotted #1B1C21;
}

#about-credits a:hover {
    color: #1B1C21;
    background-color: #ffffff80;
    border-bottom: 1px #BFD0FC;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* FORMS */

.field {
    font-family: 'Space Mono', monospace;
    background-color: #DBE4FB;
    font-size: 1rem;
    /* width: 200px; */
    padding: 8px;
    border: 1px solid #1B1C21;
    border-radius: 15px;
}

/* Make the Submit Form Stack but left-aligned */
.form-stack {
    display: flex;
    flex-direction: column;
}

/* Group labels and fields, add spacing between pairs */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

/* Success Message */
.success {
    background-color: #1B1C21;
    color: #DBE4FB;
    font-size: 1rem !important;
    width: auto !important;
    padding: 0.25rem;
}

/* Footer */
footer {
    background-color: #1B1C21;
    color: #DBE4FB;
    padding: 0 2rem;
    /* text-align: center; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #BFD0FC;
    text-decoration: none;
    padding: 2px 4px;
    border-bottom: 1px dotted #BFD0FC;
}

footer a:hover {
    color: #1b1b1b;
    background-color: #BFD0FC;
}